<div class="container mt-5">
    <h2 class="mb-3">About MacroMate</h2>
    
    <h3 class="mb-3"><strong>Student Name:</strong>Garry Ledwith</h3>
    <h3 class="mb-3"><strong>Student ID:</strong>Garry S00256356</h3>
    <p>
      <strong>MacroMate</strong> is a personal nutrition and fitness tracking app built using the MEAN stack.
      It helps you stay on top of your health goals by logging daily meals, monitoring macronutrients,
      tracking your weight and progress over time.
    </p>
  
    <p>
    What you can track:
    </p>
  
    <ul>
      <li>Calories and macros (protein, carbs, fat)</li>
      <li>Daily meals organised by meal type</li>
      <li>Weight & water intake tracking</li>
      <li>Historical logs with daily summaries</li>
      <li>Custom goals for calories, water intake and macro ratios that auto calculate grams and display them on the main dashboard</li>
    </ul> 
  </div>
  
