<div class="container mt-4">
    <h3 class="mb-4">My Dashboard</h3>
  
    <div class="row g-4">
      <div class="col-md-6">
        <app-weight-chart [labels]="weightLabels" [data]="weightData"></app-weight-chart>
      </div>
  
      <div class="col-md-6">
        <app-macro-chart [data]="macroData"></app-macro-chart>
      </div>
  
      <div class="col-md-6">
        <app-water-chart [labels]="weightLabels" [data]="waterData"></app-water-chart>
      </div>
  
      <div class="col-md-6">
        <app-calories-chart [labels]="weightLabels" [data]="calorieData"></app-calories-chart>
      </div>
    </div>
  </div>
  