<div class="container mt-4">
  <div class="row g-4">

    <!-- Calories section -->
    <div class="col-md-6">
      <app-calorie-progress></app-calorie-progress>
      <!-- will add protein, carbs and fats percentages here -->
    </div>

    <!-- Meals Logged section -->
    <div class="col-md-6">
      <app-meal-overview [mealsLogged]="mealStatus"></app-meal-overview>

    </div>

    <!-- Water intake section -->
    <div class="col-md-6">
      <app-water-tracker
        [waterDrank]="waterDrank"
        [waterGoal]="waterGoal">
      </app-water-tracker>
    </div>
    
    <!-- Weight section -->
    <div class="col-md-6">
      <app-weight-overview
        [currentWeight]="currentWeight"
        [startingWeight]="startingWeight">
      </app-weight-overview>

    </div>

    

    <!-- MacroProgress section -->
    <div class="col-md-6">
      <app-macro-progress></app-macro-progress>
      
    </div>

    <!-- Quick Links section -->
    <div class="col-md-6">
      <app-quick-links></app-quick-links>
    </div>

  </div>
</div>
