<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">MacroMate</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNav" aria-controls="navbarNav"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/search" routerLinkActive="active">Food Search</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/meals" routerLinkActive="active">Meal Log</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/goals" routerLinkActive="active">Macro Goals</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/progress" routerLinkActive="active">Weight Tracker</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/calendar" routerLinkActive="active">Calendar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a>
              </li>
              </ul> 
    </div>
    </div>
  </nav>
  
