<div class="card h-100 shadow-sm">
    <div class="card-body">
      
  
      <div class="mb-3">
        <label for="currentWeight" class="form-label">Starting Weight (kg)</label> <!-- need to change the id to starting weight-->
        <input type="number" id="currentWeight" class="form-control" [(ngModel)]="currentWeight" min="0">
      </div>
  
      <div class="mb-3">
        <label for="targetWeight" class="form-label">Target Weight (kg)</label>
        <input type="number" id="targetWeight" class="form-control" [(ngModel)]="targetWeight" min="0">
      </div>
  
      <div class="d-flex gap-2">
        <button class="btn btn-success btn-sm" (click)="saveWeightGoals()">Save Weight</button>
        <button class="btn btn-outline-danger btn-sm" (click)="clearWeightGoals()">Clear</button>
      </div>
    </div>
  </div>
  
