<!-- Weight Progress Card -->

<div class="container mt-4">
  <h3>Weight Progress</h3>
  <div class="card h-100 shadow-sm">
    <div class="card-body">
      
  
      <p class="mb-1"><strong>Starting Weight:</strong> {{ startingWeight }} kg</p>
      <p class="mb-1"><strong>Current Weight:</strong> {{ currentWeight }} kg</p>
      <p class="mb-2 text-success"><strong>Weight Lost:</strong> {{ weightLost | number:'1.1-1' }} kg</p>
  
      <ng-container *ngIf="hasTarget">
        <hr />
        <p class="mb-1"><strong>Target Weight:</strong> {{ targetWeight }} kg</p>
        <p class="text-muted small">{{ goalMessage }}</p>
      </ng-container>
    </div>
  </div>
</div>

<!-- Weight progress chart  -->
<div class="container mt-4">
  <h3>Weight Progress Chart</h3>
  <div class="card h-100 shadow-sm">
    <div class="card-body">
      <canvas id="weightProgressChart"></canvas>
    </div>
  </div>

  <div class="container mt-4">
  
    <app-weight-goal></app-weight-goal>
  </div>
  